<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" ui-sref="dashboard.home">{{ appTitle }}</a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" ui-sref="dashboard.users">Users</a>
      </li>
    </ul>
    <div class="nav navbar-text pull-right">
      Welcome <strong> {{ loggedUser.firstName }}</strong> <a href="" class="nav-link-logout" ng-click="logout()">(logout)</a>
    </div>
  </div>
</nav>
<div class="container dashboard-container">
  <h1 class="display-1">{{ stateTitle }}</h1>
  <div ui-view></div>
</div>
