<div class="card">
  <div class="card-header">
    Editing: <strong>{{ editUser.user.firstName }} {{ editUser.user.lastName }}.</strong> Last seen: <strong>{{ editUser.user.lastSeen | date: 'short' }}</strong>.
  </div>
  <div class="card-block">
    <form name="editUserForm" novalidate>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" ng-model="editUser.user.firstName" name="firstName" required />
        <div ng-messages="editUserForm.firstName.$dirty && editUserForm.firstName.$error" role="alert" class="text-danger">
          <div ng-messages-include="errors.html"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="firstName">Last name</label>
        <input type="text" class="form-control" ng-model="editUser.user.lastName" name="lastName" required />
        <div ng-messages="editUserForm.lastName.$dirty && editUserForm.lastName.$error" role="alert" class="text-danger">
          <div ng-messages-include="errors.html"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="firstName">E-mail</label>
        <input type="email" class="form-control" ng-model="editUser.user.email" name="email" required />
        <div ng-messages="editUserForm.email.$dirty && editUserForm.email.$error" role="alert" class="text-danger">
          <div ng-messages-include="errors.html"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="firstName">New password</label>
        <input type="password" class="form-control" ng-model="editUser.user.password" name="password" />
        <div ng-messages="editUserForm.password.$dirty && editUserForm.password.$error" role="alert" class="text-danger">
          <div ng-messages-include="errors.html"></div>
        </div>
      </div>
      <button href="#" class="btn btn-lg btn-block btn-primary" ng-disabled="editUserForm.$invalid">Save</button>
    </form>
  </div>
</div>
