<div layout="row" layout-align="end center">
  <span ng-if="saved">Saved successfully</span>
  <md-button ng-click="saveTasks(tasksList)" class="md-raised md-primary" ui-sref="dashboard.tasks.add">Add task</md-button>
  <md-button ng-click="saveTasks(tasksList)" class="md-raised md-primary" ng-disabled="checkForm(tasksList)">Save</md-button>
</div>
<md-card>
  <form name="tasksList">
    <md-list sv-root sv-part="collection" sv-on-sort="onOrderChange()">
      <md-list-item ng-repeat="task in collection" sv-element ng-class="{'disabled': task.disabled}">
        <md-checkbox ng-model="task.disabled" ng-true-value="false" ng-false-value="true"></md-checkbox>
        <p>{{task.title}}</p>
        <md-button class="md-icon-button" aria-label="Edit" ui-sref="dashboard.tasks.edit({id: task.id})">
          <md-icon class="md-secondary">edit</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Re-order" sv-handle>
          <md-icon class="md-secondary">reorder</md-icon>
        </md-button>
      </md-list-item>
    </md-list>
  </form>
</md-card>
<div layout="row" layout-align="end center">
  <span ng-if="saved">Saved successfully</span>
  <md-button ng-click="saveTasks(tasksList)" class="md-raised md-primary" ng-disabled="checkForm(tasksList)">Save</md-button>
</div>
