<div layout="row" layout-fill layout-align="center center">
  <div flex flex-gt-sm="30">
    <form name="loginForm" ng-submit="login.submit(loginForm)" api-form="login.submitPromise" novalidate>
      <md-card style="position: relative">
        <md-progress-linear class="smooth-progress" md-mode="indeterminate" ng-class="login.submitted ? 'show' : ''"></md-progress-linear>
        <md-card-content>
          <div layout="row" layout-align="center">
            <h2 class="md-title">Login</h2>
          </div>
          <div ng-if="loginForm.$api.$invalid">
            <div ng-messages="loginForm.$api.$error" role="alert" class="api-error-message">
              <ng-message="invalid_grant">E-mail, password or both are incorrect.</ng-message>
              <div ng-messages-include="errors.html"></div>
            </div>
          </div>
          <md-input-container class="md-icon-float md-block">
            <label>E-mail</label>
            <md-icon>person</md-icon>
            <input type="email" ng-model="login.credentials.email" name="email" required />
            <div ng-messages="(loginForm.$submitted || loginForm.email.$dirty) && loginForm.email.$error" role="alert">
              <div ng-messages-include="errors.html"></div>
            </div>
          </md-input-container>
          <md-input-container class="md-icon-float md-block">
            <label>Password</label>
            <md-icon>lock</md-icon>
            <input type="password" ng-model="login.credentials.password" name="password" required />
            <div ng-messages="(loginForm.$submitted || loginForm.password.$dirty) && loginForm.password.$error" role="alert">
              <div ng-messages-include="errors.html"></div>
            </div>
          </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-primary" type="submit" ng-disabled="loginForm.$invalid">Login</md-button>
        </md-card-actions>
      </md-card>
    </form>
  </div>
</div>
